<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>19/02/24 18:36:26</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 18:36:27</td>   <td>669</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_Create_Lead.setData()[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 18:36:27</td>   <td>680</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 18:36:28</td>   <td>2114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/02/24 18:36:36</td>   <td>10219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_Create_Lead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">login</td> 
  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 18:36:57</td>   <td>30880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/02/24 18:36:59</td>   <td>33090</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC002_Create_Lead@10736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
</table>
